In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import scipy.stats as st

#### **Added df_final_demo.csv**

In [2]:
df_final_demo = pd.read_csv("df_final_demo.csv")

df_final_demo['clnt_tenure_yr'] = df_final_demo.clnt_tenure_yr.fillna(df_final_demo.clnt_tenure_yr.mean())
df_final_demo['clnt_tenure_mnth'] = df_final_demo.clnt_tenure_mnth.fillna(df_final_demo.clnt_tenure_mnth.mean())
df_final_demo['clnt_age'] = df_final_demo.clnt_age.fillna(df_final_demo.clnt_age.mean())

df_final_demo['gendr'] = df_final_demo['gendr'].fillna('U')
df_final_demo['num_accts'] = df_final_demo.num_accts.fillna(df_final_demo.num_accts.mean())
df_final_demo['bal'] = df_final_demo.bal.fillna(df_final_demo.bal.mean())
df_final_demo['calls_6_mnth'] = df_final_demo.calls_6_mnth.fillna(df_final_demo.calls_6_mnth.mean())
df_final_demo['logons_6_mnth'] = df_final_demo.logons_6_mnth.fillna(df_final_demo.logons_6_mnth.mean())

df_final_demo.head(50)

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
5,3727881,5.0,71.0,30.5,U,2.0,23915.60,0.0,3.0
6,272934,5.0,66.0,58.5,U,2.0,27021.42,2.0,5.0
7,388801,30.0,361.0,57.5,M,5.0,522498.72,1.0,4.0
8,285619,30.0,369.0,67.5,M,2.0,299388.72,3.0,6.0
9,8198645,15.0,189.0,54.5,F,2.0,382303.83,6.0,9.0
10,8368822,8.0,100.0,34.5,U,2.0,75578.54,0.0,3.0
11,2537139,8.0,99.0,51.5,U,2.0,135940.68,6.0,9.0
12,2208717,5.0,67.0,33.0,U,2.0,29782.96,6.0,9.0
13,2214073,16.0,193.0,62.5,M,3.0,136818.03,6.0,9.0
14,2368987,5.0,71.0,54.5,U,2.0,44408.87,2.0,5.0
15,2892152,4.0,58.0,36.0,U,2.0,46815.48,5.0,8.0
16,4536541,3.0,47.0,74.0,U,2.0,47804.50,1.0,4.0
17,3788589,10.0,122.0,32.5,M,2.0,30750.76,0.0,3.0
18,719792,11.0,136.0,31.0,F,2.0,111736.78,5.0,8.0
19,5904035,8.0,101.0,25.5,U,2.0,27848.76,3.0,6.0
20,1502049,8.0,100.0,31.0,U,2.0,28952.15,0.0,3.0
21,6590646,8.0,103.0,42.5,F,3.0,2768726.87,5.0,8.0
22,7585111,5.0,70.0,42.0,U,3.0,36621.41,1.0,4.0
23,3638336,12.0,152.0,30.5,M,3.0,54296.67,3.0,6.0
24,9520009,13.0,160.0,30.0,M,2.0,61062.57,6.0,9.0
25,1508759,6.0,80.0,58.5,U,2.0,66514.85,4.0,7.0
26,9381346,7.0,88.0,62.5,U,2.0,272252.76,0.0,3.0
27,7035604,7.0,86.0,30.5,U,2.0,28175.92,1.0,4.0
28,3055315,5.0,65.0,34.5,F,2.0,66560.69,1.0,5.0
29,3350906,5.0,68.0,55.0,U,2.0,88627.18,2.0,5.0
30,2109862,7.0,93.0,38.0,U,2.0,35917.29,2.0,5.0
31,1549737,7.0,94.0,68.5,U,2.0,35608.94,1.0,4.0
32,7474517,6.0,73.0,52.5,U,2.0,53993.47,4.0,7.0
33,6448014,7.0,85.0,57.5,U,2.0,82787.46,6.0,9.0
34,6651826,8.0,103.0,34.5,U,2.0,44696.97,0.0,3.0
35,2305285,14.0,168.0,54.0,M,2.0,132347.89,6.0,9.0
36,5889920,11.0,142.0,33.0,M,2.0,106249.03,1.0,4.0
37,3065089,19.0,228.0,63.0,M,2.0,439723.43,6.0,9.0
38,313570,18.0,223.0,48.0,F,2.0,75124.07,2.0,5.0
39,9721424,12.0,152.0,32.0,F,2.0,29667.60,0.0,3.0
40,3753796,25.0,305.0,66.5,F,2.0,214661.75,6.0,9.0
41,6647577,23.0,286.0,68.0,F,3.0,86005.57,2.0,5.0
42,6341488,23.0,285.0,65.0,F,2.0,116534.46,5.0,8.0
43,838619,23.0,280.0,60.5,F,2.0,131309.81,0.0,3.0
44,2000151,21.0,254.0,38.0,F,2.0,136515.54,6.0,9.0
45,6579978,21.0,253.0,74.0,M,2.0,71192.58,1.0,4.0
46,8475126,23.0,278.0,51.0,M,3.0,327091.02,3.0,6.0
47,7419744,18.0,221.0,49.0,U,2.0,162233.71,0.0,3.0
48,9796602,18.0,216.0,46.0,F,2.0,25827.39,0.0,3.0
49,1329260,17.0,212.0,63.5,F,2.0,666138.27,5.0,8.0

In [3]:
df_final_demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70609 non-null  float64
 2   clnt_tenure_mnth  70609 non-null  float64
 3   clnt_age          70609 non-null  float64
 4   gendr             70609 non-null  object
 5   num_accts         70609 non-null  float64
 6   bal               70609 non-null  float64
 7   calls_6_mnth      70609 non-null  float64
 8   logons_6_mnth     70609 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 4.8+ MB

In [4]:
df_final_demo.isna().sum()

client_id           0
clnt_tenure_yr      0
clnt_tenure_mnth    0
clnt_age            0
gendr               0
num_accts           0
bal                 0
calls_6_mnth        0
logons_6_mnth       0
dtype: int64

#### gender_counts

In [5]:
# value_counts gets count of each unique value; can be used to count occuranges in the 'gender' column
gender_counts = df_final_demo['gendr'].value_counts()
print(gender_counts)

gendr
U    24136
M    23724
F    22746
X        3
Name: count, dtype: int64

#### age_counts

In [6]:
age_counts = df_final_demo['clnt_age'].value_counts()
age_counts_sorted = age_counts.sort_index()
print(age_counts_sorted)

clnt_age
13.5     1
14.0     2
14.5    23
15.0    22
15.5    37
        ..
93.5     4
94.0     3
94.5     1
95.5     1
96.0     2
Name: count, Length: 166, dtype: int64

#### **Added df_final_experiement.csv**

In [7]:
df_final_experiment = pd.read_csv("df_final_experiment_clients.csv")

# Dropped the Nan values from the dataset
df_final_experiment = df_final_experiment.dropna()

# Renamed Variation column
df_final_experiment.rename(columns={'Variation': 'variation'}, inplace=True)
df_final_experiment.head(50)

    client_id variation
0     9988021      Test
1     8320017      Test
2     4033851   Control
3     1982004      Test
4     9294070   Control
5     9466803      Test
6     3170143      Test
7     6651403   Control
8     5887227      Test
9     2105948   Control
10     438567      Test
11    2519971      Test
12    9814849   Control
13    5407849      Test
14    7286739   Control
15    4446011   Control
16    5308474      Test
17    2991219      Test
18    2354414      Test
19     949210      Test
20    4229407   Control
21    9987707      Test
22    2709011      Test
23    4507502      Test
24    2842481   Control
25    2317698      Test
26    3013805      Test
27    1218661   Control
28    2965703      Test
29    1712929   Control
30    2328234      Test
31     800925   Control
32    6685654      Test
33    8766054      Test
34    4726500      Test
35    9504867      Test
36    1242238   Control
37    7800773      Test
38    9477476   Control
39    1338778   Control
40    6584990   Control
41    7859827      Test
42    7407692      Test
43    7040762   Control
44    9900469      Test
45    5169372   Control
46    5267250   Control
47    2079440      Test
48    5376894      Test
49    3751049   Control

In [8]:
# df_final_experiment.info()
df_final_experiment.isna().sum()

client_id    0
variation    0
dtype: int64

variation_type

In [9]:
# Test group: Clients experienced the new, spruced-up digital interface.
# Control group: Clients interacted with Vanguardâ€™s traditional online process.

variation_type = df_final_experiment['variation'].value_counts()
print(variation_type)

variation
Test       26968
Control    23532
Name: count, dtype: int64

#### **Concatenated df_final_pt_1.csv and df_final_pt_2.csv**

In [10]:
df_final_pt_1 = pd.read_csv("df_final_web_data_pt_1.csv")
df_final_pt_1.head(50)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/2017 15:27
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/2017 15:26
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/2017 15:19
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/2017 15:19
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/2017 15:18
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/2017 15:17
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,4/17/2017 15:17
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,4/17/2017 15:16
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,4/5/2017 13:10
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,4/5/2017 13:09
10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,4/5/2017 13:08
11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,4/5/2017 13:08
12,8320017,39393514_33118319366,960651974_70596002104_312201,start,4/5/2017 13:08
13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,4/5/2017 12:29
14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,4/5/2017 12:29
15,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,4/5/2017 12:28
16,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,4/5/2017 12:26
17,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,4/5/2017 12:24
18,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,4/5/2017 12:24
19,4033851,762728880_76361333336,949661017_22392791362_127391,start,4/5/2017 12:24
20,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,4/5/2017 12:10
21,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,4/5/2017 12:10
22,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,4/5/2017 12:10
23,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,4/5/2017 12:10
24,1982004,618934751_10082078917,132494692_73738638511_70823,confirm,4/17/2017 12:02
25,1982004,618934751_10082078917,132494692_73738638511_70823,step_3,4/17/2017 12:01
26,1982004,618934751_10082078917,132494692_73738638511_70823,step_2,4/17/2017 12:00
27,1982004,618934751_10082078917,132494692_73738638511_70823,step_1,4/17/2017 11:59
28,1982004,618934751_10082078917,132494692_73738638511_70823,start,4/17/2017 11:59
29,9294070,489274391_63794562906,116640698_27328181095_188045,start,4/17/2017 11:16
30,9294070,489274391_63794562906,116640698_27328181095_188045,start,4/17/2017 11:16
31,9466803,97277031_5793723360,812185460_4263902139_352107,start,4/16/2017 13:24
32,9466803,97277031_5793723360,812185460_4263902139_352107,step_2,4/16/2017 13:24
33,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,4/16/2017 13:24
34,9466803,97277031_5793723360,812185460_4263902139_352107,start,4/16/2017 13:24
35,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,4/16/2017 13:21
36,9466803,97277031_5793723360,812185460_4263902139_352107,start,4/16/2017 13:21
37,3170143,837774974_91015515080,758001412_25057963943_219559,confirm,4/4/2017 18:41
38,3170143,837774974_91015515080,758001412_25057963943_219559,step_3,4/4/2017 18:41
39,3170143,837774974_91015515080,758001412_25057963943_219559,step_2,4/4/2017 18:38
40,3170143,837774974_91015515080,758001412_25057963943_219559,step_1,4/4/2017 18:38
41,3170143,837774974_91015515080,758001412_25057963943_219559,start,4/4/2017 18:38
42,6651403,387438258_49845138949,754106292_61370647593_160929,confirm,4/4/2017 17:38
43,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,4/4/2017 17:34
44,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,4/4/2017 17:33
45,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,4/4/2017 17:31
46,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,4/4/2017 17:28
47,6651403,387438258_49845138949,754106292_61370647593_160929,step_1,4/4/2017 17:28
48,6651403,387438258_49845138949,754106292_61370647593_160929,start,4/4/2017 17:28
49,5887227,448202785_26003228044,458489157_53226123692_778999,confirm,4/5/2017 14:52

In [11]:
df_final_pt_2 = pd.read_csv("df_final_web_data_pt_2.csv")
df_final_pt_2.head(50)

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,6/6/2017 8:56
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,6/1/2017 11:59
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,6/1/2017 11:58
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,6/1/2017 11:58
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,6/1/2017 11:57
5,6019349,442094451_91531546617,154620534_35331068705_522317,start,6/1/2017 11:57
6,4726500,934350987_45569789638,467318052_88159801968_565608,confirm,6/5/2017 17:38
7,4726500,934350987_45569789638,467318052_88159801968_565608,step_3,6/5/2017 17:38
8,4726500,934350987_45569789638,467318052_88159801968_565608,step_2,6/5/2017 17:37
9,4726500,934350987_45569789638,467318052_88159801968_565608,step_1,6/5/2017 17:37
10,4726500,934350987_45569789638,467318052_88159801968_565608,start,6/5/2017 17:37
11,2604484,403124303_66054292858,839120079_63294408771_355112,confirm,6/5/2017 17:13
12,9723244,159724599_74688076986,246088042_56009027918_726234,confirm,6/1/2017 15:04
13,4757483,368845273_83104011691,577583395_82876359150_125129,confirm,6/1/2017 15:02
14,9723244,159724599_74688076986,246088042_56009027918_726234,step_3,6/1/2017 15:02
15,4757483,368845273_83104011691,577583395_82876359150_125129,step_3,6/1/2017 15:01
16,4757483,368845273_83104011691,577583395_82876359150_125129,step_2,6/1/2017 15:00
17,9723244,159724599_74688076986,246088042_56009027918_726234,step_2,6/1/2017 15:00
18,9723244,159724599_74688076986,246088042_56009027918_726234,step_1,6/1/2017 15:00
19,9723244,159724599_74688076986,246088042_56009027918_726234,start,6/1/2017 15:00
20,4757483,368845273_83104011691,577583395_82876359150_125129,step_1,6/1/2017 15:00
21,4757483,368845273_83104011691,577583395_82876359150_125129,start,6/1/2017 15:00
22,8932927,485163175_18149554449,103652948_14625127290_455632,step_3,5/10/2017 20:15
23,8932927,485163175_18149554449,103652948_14625127290_455632,step_2,5/10/2017 20:13
24,8932927,485163175_18149554449,103652948_14625127290_455632,step_1,5/10/2017 20:07
25,9462890,285545980_42239038231,789355073_26110529122_413761,confirm,6/12/2017 12:28
26,8712791,810751851_50651722357,201285181_54062386555_293858,confirm,6/7/2017 17:52
27,8712791,810751851_50651722357,201285181_54062386555_293858,confirm,6/7/2017 17:47
28,8712791,810751851_50651722357,201285181_54062386555_293858,step_3,6/7/2017 17:46
29,8712791,810751851_50651722357,201285181_54062386555_293858,step_2,6/7/2017 17:45
30,8712791,810751851_50651722357,201285181_54062386555_293858,step_1,6/7/2017 17:45
31,8712791,810751851_50651722357,201285181_54062386555_293858,start,6/7/2017 17:45
32,1338778,696747226_43654658167,169900933_72177377277_730026,step_2,5/10/2017 14:49
33,1338778,696747226_43654658167,169900933_72177377277_730026,step_1,5/10/2017 14:49
34,1338778,696747226_43654658167,169900933_72177377277_730026,step_2,5/10/2017 14:47
35,1338778,696747226_43654658167,169900933_72177377277_730026,step_1,5/10/2017 14:47
36,1338778,696747226_43654658167,169900933_72177377277_730026,start,5/10/2017 14:46
37,196135,36187141_51663781159,459921790_55624327518_797235,step_3,6/7/2017 13:27
38,196135,36187141_51663781159,459921790_55624327518_797235,step_3,6/7/2017 13:10
39,196135,36187141_51663781159,459921790_55624327518_797235,step_3,6/7/2017 12:54
40,9654896,466845281_87308647515,32486348_98643925240_889573,step_1,6/7/2017 12:39
41,9654896,466845281_87308647515,32486348_98643925240_889573,start,6/7/2017 12:39
42,196135,36187141_51663781159,459921790_55624327518_797235,step_3,6/7/2017 12:38
43,196135,36187141_51663781159,459921790_55624327518_797235,step_2,6/7/2017 12:36
44,196135,36187141_51663781159,459921790_55624327518_797235,step_1,6/7/2017 12:36
45,196135,36187141_51663781159,459921790_55624327518_797235,start,6/7/2017 12:36
46,196135,36187141_51663781159,459921790_55624327518_797235,start,6/7/2017 12:33
47,5169372,913893971_31925447393,620693667_38482658584_515526,confirm,6/4/2017 21:26
48,5267250,775527297_1115742340,925383636_42107216096_372443,start,5/22/2017 13:53
49,1338778,931886528_99694167077,817784499_33991731960_990073,confirm,6/11/2017 12:38

In [12]:
concatenated_df = pd.concat([df_final_pt_1, df_final_pt_2], ignore_index=True)
concatenated_df.head(50)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/2017 15:27
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/2017 15:26
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/2017 15:19
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/2017 15:19
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,4/17/2017 15:18
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,4/17/2017 15:17
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,4/17/2017 15:17
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,4/17/2017 15:16
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,4/5/2017 13:10
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,4/5/2017 13:09
10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,4/5/2017 13:08
11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,4/5/2017 13:08
12,8320017,39393514_33118319366,960651974_70596002104_312201,start,4/5/2017 13:08
13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,4/5/2017 12:29
14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,4/5/2017 12:29
15,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,4/5/2017 12:28
16,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,4/5/2017 12:26
17,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,4/5/2017 12:24
18,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,4/5/2017 12:24
19,4033851,762728880_76361333336,949661017_22392791362_127391,start,4/5/2017 12:24
20,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,4/5/2017 12:10
21,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,4/5/2017 12:10
22,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,4/5/2017 12:10
23,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,4/5/2017 12:10
24,1982004,618934751_10082078917,132494692_73738638511_70823,confirm,4/17/2017 12:02
25,1982004,618934751_10082078917,132494692_73738638511_70823,step_3,4/17/2017 12:01
26,1982004,618934751_10082078917,132494692_73738638511_70823,step_2,4/17/2017 12:00
27,1982004,618934751_10082078917,132494692_73738638511_70823,step_1,4/17/2017 11:59
28,1982004,618934751_10082078917,132494692_73738638511_70823,start,4/17/2017 11:59
29,9294070,489274391_63794562906,116640698_27328181095_188045,start,4/17/2017 11:16
30,9294070,489274391_63794562906,116640698_27328181095_188045,start,4/17/2017 11:16
31,9466803,97277031_5793723360,812185460_4263902139_352107,start,4/16/2017 13:24
32,9466803,97277031_5793723360,812185460_4263902139_352107,step_2,4/16/2017 13:24
33,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,4/16/2017 13:24
34,9466803,97277031_5793723360,812185460_4263902139_352107,start,4/16/2017 13:24
35,9466803,97277031_5793723360,812185460_4263902139_352107,step_1,4/16/2017 13:21
36,9466803,97277031_5793723360,812185460_4263902139_352107,start,4/16/2017 13:21
37,3170143,837774974_91015515080,758001412_25057963943_219559,confirm,4/4/2017 18:41
38,3170143,837774974_91015515080,758001412_25057963943_219559,step_3,4/4/2017 18:41
39,3170143,837774974_91015515080,758001412_25057963943_219559,step_2,4/4/2017 18:38
40,3170143,837774974_91015515080,758001412_25057963943_219559,step_1,4/4/2017 18:38
41,3170143,837774974_91015515080,758001412_25057963943_219559,start,4/4/2017 18:38
42,6651403,387438258_49845138949,754106292_61370647593_160929,confirm,4/4/2017 17:38
43,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,4/4/2017 17:34
44,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,4/4/2017 17:33
45,6651403,387438258_49845138949,754106292_61370647593_160929,step_3,4/4/2017 17:31
46,6651403,387438258_49845138949,754106292_61370647593_160929,step_2,4/4/2017 17:28
47,6651403,387438258_49845138949,754106292_61370647593_160929,step_1,4/4/2017 17:28
48,6651403,387438258_49845138949,754106292_61370647593_160929,start,4/4/2017 17:28
49,5887227,448202785_26003228044,458489157_53226123692_778999,confirm,4/5/2017 14:52

In [13]:
concatenated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date_time     755405 non-null  object
dtypes: int64(1), object(4)
memory usage: 28.8+ MB

In [14]:
concatenated_df.isna().sum()

client_id       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
dtype: int64

#### confirm_count

In [15]:
# Gets count of how many people were in each step of the process
confirm_count = concatenated_df['process_step'].value_counts()
print(confirm_count)

process_step
start      243945
step_1     163193
step_2     133062
step_3     112242
confirm    102963
Name: count, dtype: int64

### avg_duration_per_step

In [16]:
# Gets avg duration (in sec) spent on each step
concatenated_df['date_time'] = pd.to_datetime(concatenated_df['date_time'])
concatenated_df = concatenated_df.sort_values(by=['client_id', 'date_time'])
concatenated_df['time_diff'] = concatenated_df.groupby('client_id')['date_time'].diff()
concatenated_df = concatenated_df.dropna(subset=['time_diff'])

avg_duration_per_step = concatenated_df.groupby('process_step')['time_diff'].mean()
avg_duration_per_step = avg_duration_per_step.apply(lambda x: x.total_seconds())

print(avg_duration_per_step)

process_step
confirm    64208.510808
start      85659.744256
step_1     65959.734073
step_2     43510.214755
step_3      2331.538461
Name: time_diff, dtype: float64

#### **Merged df_final_experiment.csv with concatenated_df dataset.csv**

In [17]:
concatenated_df['date_time'] = pd.to_datetime(concatenated_df['date_time'])
merged_df = pd.merge(df_final_experiment, concatenated_df, on='client_id', how='left')
merged_df.head(50)
# merged_df.shape

,client_id,variation,visitor_id,visit_id,process_step,date_time,time_diff
0,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 17:34:00,0 days 00:37:00
1,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 17:50:00,0 days 00:16:00
2,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:06:00,0 days 00:16:00
3,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:22:00,0 days 00:16:00
4,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:38:00,0 days 00:16:00
5,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:54:00,0 days 00:16:00
6,9988021,Test,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:00,4 days 20:22:00
7,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:00,0 days 00:01:00
8,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:00,0 days 00:00:00
9,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:00,0 days 00:01:00
10,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:00,0 days 00:01:00
11,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:00,0 days 00:00:00
12,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:00,0 days 00:07:00
13,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:00,0 days 00:01:00
14,8320017,Test,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:00,0 days 00:00:00
15,8320017,Test,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:00,0 days 00:00:00
16,8320017,Test,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:00,0 days 00:01:00
17,8320017,Test,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:00,0 days 00:01:00
18,4033851,Control,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:04:00,0 days 00:00:00
19,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:06:00,0 days 00:02:00
20,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:08:00,0 days 00:02:00
21,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:00,0 days 00:02:00
22,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:00,0 days 00:00:00
23,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:00,0 days 00:00:00
24,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:00,0 days 00:00:00
25,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:24:00,0 days 00:14:00
26,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:24:00,0 days 00:00:00
27,4033851,Control,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:24:00,0 days 00:00:00
28,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:26:00,0 days 00:02:00
29,4033851,Control,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:28:00,0 days 00:02:00
30,4033851,Control,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:00,0 days 00:01:00
31,4033851,Control,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:00,0 days 00:00:00
32,1982004,Test,618934751_10082078917,132494692_73738638511_70823,start,2017-04-17 11:59:00,0 days 00:00:00
33,1982004,Test,618934751_10082078917,132494692_73738638511_70823,step_2,2017-04-17 12:00:00,0 days 00:01:00
34,1982004,Test,618934751_10082078917,132494692_73738638511_70823,step_3,2017-04-17 12:01:00,0 days 00:01:00
35,1982004,Test,618934751_10082078917,132494692_73738638511_70823,confirm,2017-04-17 12:02:00,0 days 00:01:00
36,9294070,Control,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:00,0 days 00:00:00
37,9466803,Test,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:21:00,0 days 00:00:00
38,9466803,Test,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:00,0 days 00:03:00
39,9466803,Test,97277031_5793723360,812185460_4263902139_352107,step_2,2017-04-16 13:24:00,0 days 00:00:00
40,9466803,Test,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:24:00,0 days 00:00:00
41,9466803,Test,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:00,0 days 00:00:00
42,3170143,Test,837774974_91015515080,758001412_25057963943_219559,step_1,2017-04-04 18:38:00,0 days 00:00:00
43,3170143,Test,837774974_91015515080,758001412_25057963943_219559,start,2017-04-04 18:38:00,0 days 00:00:00
44,3170143,Test,837774974_91015515080,758001412_25057963943_219559,confirm,2017-04-04 18:41:00,0 days 00:03:00
45,3170143,Test,837774974_91015515080,758001412_25057963943_219559,step_3,2017-04-04 18:41:00,0 days 00:00:00
46,3170143,Test,379063706_63772164323,276066031_50736025801_795997,start,2017-04-06 12:10:00,1 days 17:29:00
47,3170143,Test,379063706_63772164323,276066031_50736025801_795997,step_1,2017-04-06 12:11:00,0 days 00:01:00
48,3170143,Test,377484839_40771885547,110454357_32145786652_758657,start,2017-04-09 09:05:00,2 days 20:54:00
49,6651403,Control,387438258_49845138949,348268664_33641159832_317156,step_1,2017-03-31 01:47:00,0 days 00:01:00

In [18]:
merged_df = merged_df.dropna()

In [19]:
# Checks for null values in the merged dataset
merged_df.isna().sum()

client_id       0
variation       0
visitor_id      0
visit_id        0
process_step    0
date_time       0
time_diff       0
dtype: int64

In [20]:
# Gets info abt the merged dataset
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 270809 entries, 0 to 274250
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     270809 non-null  int64
 1   variation     270809 non-null  object
 2   visitor_id    270809 non-null  object
 3   visit_id      270809 non-null  object
 4   process_step  270809 non-null  object
 5   date_time     270809 non-null  datetime64[ns]
 6   time_diff     270809 non-null  timedelta64[ns]
dtypes: datetime64[ns](1), int64(1), object(4), timedelta64[ns](1)
memory usage: 16.5+ MB

#### **Filtered dataset based on client_id and process_step**

In [21]:
# filtered_df = merged_df.drop_duplicates(subset=['process_step'], keep='first')
# .drop_duplicates(subset=['visitor_id'])
# filtered_df.head(50)

merged_df = merged_df.sort_values(by=['client_id', 'date_time'])
filtered_df = merged_df.drop_duplicates(subset=['client_id', 'process_step'], keep='first')
filtered_df.head(50)

,client_id,variation,visitor_id,visit_id,process_step,date_time,time_diff
80486,555,Test,402506806_56087378777,637149525_38041617439_716659,step_2,2017-04-15 12:58:00,0 days 00:01:00
80487,555,Test,402506806_56087378777,637149525_38041617439_716659,step_1,2017-04-15 12:58:00,0 days 00:00:00
80488,555,Test,402506806_56087378777,637149525_38041617439_716659,confirm,2017-04-15 13:00:00,0 days 00:02:00
80489,555,Test,402506806_56087378777,637149525_38041617439_716659,step_3,2017-04-15 13:00:00,0 days 00:00:00
154143,647,Test,66758770_53988066587,40369564_40101682850_311847,step_1,2017-04-12 15:41:00,0 days 00:00:00
154144,647,Test,66758770_53988066587,40369564_40101682850_311847,start,2017-04-12 15:41:00,0 days 00:00:00
154145,647,Test,66758770_53988066587,40369564_40101682850_311847,step_3,2017-04-12 15:45:00,0 days 00:04:00
154146,647,Test,66758770_53988066587,40369564_40101682850_311847,confirm,2017-04-12 15:47:00,0 days 00:02:00
69969,934,Test,810392784_45004760546,7076463_57954418406_971348,start,2017-04-18 02:37:00,0 days 00:01:00
147714,1028,Control,42237450_62128060588,557292053_87239438319_391157,step_1,2017-04-08 18:52:00,0 days 00:01:00
147715,1028,Control,42237450_62128060588,557292053_87239438319_391157,step_2,2017-04-08 18:53:00,0 days 00:01:00
147717,1028,Control,42237450_62128060588,557292053_87239438319_391157,step_3,2017-04-08 18:58:00,0 days 00:05:00
32423,1104,Control,194240915_18158000533,643221571_99977972121_69283,start,2017-06-20 22:31:00,8 days 14:42:00
265485,1186,Control,446844663_31615102958,795373564_99931517312_810896,step_2,2017-04-08 18:05:00,0 days 02:06:00
265486,1186,Control,446844663_31615102958,795373564_99931517312_810896,step_1,2017-04-08 18:05:00,0 days 00:00:00
265487,1186,Control,446844663_31615102958,795373564_99931517312_810896,start,2017-04-08 18:05:00,0 days 00:00:00
15136,1195,Control,766842522_69992551638,393817425_39015278493_996341,start,2017-04-05 20:15:00,0 days 00:00:00
15137,1195,Control,766842522_69992551638,393817425_39015278493_996341,step_2,2017-04-05 20:17:00,0 days 00:02:00
15138,1195,Control,766842522_69992551638,393817425_39015278493_996341,step_3,2017-04-05 20:18:00,0 days 00:01:00
15139,1195,Control,766842522_69992551638,393817425_39015278493_996341,confirm,2017-04-05 20:19:00,0 days 00:01:00
35623,1197,Control,753759429_54481946928,71862471_21202285428_848395,step_1,2017-04-01 17:16:00,0 days 00:00:00
35624,1197,Control,753759429_54481946928,71862471_21202285428_848395,start,2017-04-01 17:16:00,0 days 00:00:00
35625,1197,Control,753759429_54481946928,71862471_21202285428_848395,confirm,2017-04-01 17:17:00,0 days 00:01:00
35626,1197,Control,753759429_54481946928,71862471_21202285428_848395,step_3,2017-04-01 17:17:00,0 days 00:00:00
35627,1197,Control,753759429_54481946928,71862471_21202285428_848395,step_2,2017-04-01 17:17:00,0 days 00:00:00
232184,1336,Test,920624746_32603333901,583743392_96265099036_939815,start,2017-05-08 06:05:00,0 days 00:00:00
232185,1336,Test,920624746_32603333901,583743392_96265099036_939815,step_3,2017-05-08 06:06:00,0 days 00:01:00
232186,1336,Test,920624746_32603333901,583743392_96265099036_939815,step_2,2017-05-08 06:06:00,0 days 00:00:00
232187,1336,Test,920624746_32603333901,583743392_96265099036_939815,confirm,2017-05-08 06:08:00,0 days 00:02:00
134207,1346,Test,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:20:00,0 days 00:00:00
134208,1346,Test,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:23:00,0 days 00:03:00
134210,1346,Test,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:24:00,0 days 00:01:00
134211,1346,Test,123474046_4204671056,27144337_83739845380_214282,step_2,2017-06-06 18:24:00,0 days 00:00:00
95848,1516,Test,182314299_63168583136,481123290_95510977345_707323,start,2017-04-05 15:53:00,0 days 00:00:00
95849,1516,Test,182314299_63168583136,481123290_95510977345_707323,step_2,2017-04-05 15:54:00,0 days 00:01:00
95850,1516,Test,182314299_63168583136,481123290_95510977345_707323,step_1,2017-04-05 15:55:00,0 days 00:01:00
95861,1516,Test,182314299_63168583136,255400977_38039535960_779641,step_3,2017-04-06 22:26:00,0 days 00:11:00
95862,1516,Test,182314299_63168583136,255400977_38039535960_779641,confirm,2017-04-06 22:30:00,0 days 00:04:00
269378,1643,Test,910842861_51062379179,633860590_96880450633_976109,step_1,2017-04-24 06:36:00,8 days 15:30:00
269379,1643,Test,910842861_51062379179,633860590_96880450633_976109,start,2017-04-24 06:36:00,0 days 00:00:00
269383,1643,Test,121807985_20524560478,753205700_16851596206_134483,step_2,2017-06-10 07:50:00,0 days 00:01:00
269385,1643,Test,121807985_20524560478,753205700_16851596206_134483,confirm,2017-06-10 08:00:00,0 days 00:10:00
269386,1643,Test,121807985_20524560478,753205700_16851596206_134483,step_3,2017-06-10 08:00:00,0 days 00:00:00
210943,1702,Test,470573753_93844895765,825109778_55379502512_27372,confirm,2017-06-05 12:04:00,65 days 00:20:00
93934,1755,Test,230596682_29327090182,690855460_62242406510_53318,start,2017-03-29 16:24:00,0 days 00:00:00
93935,1755,Test,230596682_29327090182,690855460_62242406510_53318,step_3,2017-03-29 16:25:00,0 days 00:01:00
93936,1755,Test,230596682_29327090182,690855460_62242406510_53318,step_2,2017-03-29 16:25:00,0 days 00:00:00
93939,1755,Test,230596682_29327090182,420603142_53705621002_674558,step_1,2017-04-02 11:52:00,0 days 00:00:00
93941,1755,Test,230596682_29327090182,420603142_53705621002_674558,confirm,2017-04-02 11:54:00,0 days 00:01:00
54511,1836,Test,619440135_40983729273,624455994_87386716654_950064,step_3,2017-04-05 18:48:00,0 days 00:01:00

In [ ]:
# test_df = filtered_df.loc[filtered_df['variation'] == 'Test']
# control_df = filtered_df.loc[filtered_df['variation'] == 'Control']

# test_confirm = test_df.loc[test_df['process_step'] == 'confirm']
# control_confirm = control_df.loc[control_df['process_step'] == 'confirm']

# test_confirm.shape[0]
# test_df.shape[0]

# test_confirm.shape[0] / test_df.shape[0]

# control_confirm.shape[0]
# control_df.shape[0]

# control_confirm.shape[0] / control_df.shape[0]

# t-test uses a list, not count

#### step_counts per group

In [22]:
# Gets count of how many people were in each step of the process, in each variation group
step_counts = filtered_df.groupby(['variation', 'process_step']).size().unstack(fill_value=0)
print(step_counts)

process_step  confirm  start  step_1  step_2  step_3
variation
Control         15408  16337   16610   15591   17266
Test            18611  21461   18740   18415   20709

#### avg_completion_time per group

In [64]:
merged_df['client_id'] = merged_df['client_id'].astype(int)

# Filter out clients who reached the confirm step
clients_with_confirm = merged_df[merged_df['process_step'] == 'confirm']['client_id'].unique()
filtered_clients_df = merged_df[merged_df['client_id'].isin(clients_with_confirm)]

# Calculate the time difference between 'start' and 'confirm' for each client
start_times = filtered_clients_df[filtered_clients_df['process_step'] == 'start'].groupby('client_id')['date_time'].first()
confirm_times = filtered_clients_df[filtered_clients_df['process_step'] == 'confirm'].groupby('client_id')['date_time'].first()

completion_times = (confirm_times - start_times).reset_index()
completion_times.columns = ['client_id', 'completion_time']
completion_times['completion_time'] = completion_times['completion_time'].dt.total_seconds() / 60  # Convert to minutes

# Merge completion times with variation data
completion_times = completion_times.merge(merged_df, on='client_id')

completion_times = completion_times.dropna(subset=['completion_time'])
# completion_times.head(50)

average_completion_time = completion_times.groupby('variation')['completion_time'].mean()

print(average_completion_time)

variation
Control    6692.227950
Test       6585.060996
Name: completion_time, dtype: float64

In [65]:
completion_times.isna().sum()

client_id          0
completion_time    0
variation          0
visitor_id         0
visit_id           0
process_step       0
date_time          0
time_diff          0
dtype: int64

### Hypothesis Testing

In [145]:
# Check if the new design leads to a better user experience and higher process completion rates.

# Since the new design (Test group) had a higher completion rate compared to the old design (Control group), required to confirm if this difference is statistically significant.

# H0: The new design does not lead to a better user experience and higher process completion rates.
# H1: The new design does lead to a better user experience and higher process completion rates.

In [146]:
# For the Hypothesis Testing:

# KPIs: Completion Rate, Time Spent on Each Step, Error Rates

# Check the variations (i.e. who was in which group - Control or Test)
# Check for the count of how many ppl came to the confirm step ~ Completion Rate
# Check for time spent on each step(i.e avg duration)
# Check for error rates(i.e. if user goes back to a previous step, it can indicate confusion or an error)

#### 1st Hypothesis

In [147]:
# 1st hypothesis

# H0: completion time for test group == completion time for control group
# H1: completion time for test group != completion time for control group

# alpha = 0.05

# For this hypothesis, we can use just the p-value to determine

In [ ]:
# if the numbers are diff but the test is not showing much of a diff, then it means
# that the test is not very sensitive to the diff in the numbers(i.e. the diff is not statistically significant)

In [32]:
alpha = 0.05
# completion_times = completion_times.merge(merged_df[['client_id', 'variation']].drop_duplicates(), on='client_id')
test_times = completion_times.loc[completion_times['variation'] == 'Test']['completion_time']

# completion_times.groupby('variation')['completion_time'].mean()

control_times = completion_times.loc[completion_times['variation'] == 'Control']['completion_time']

# completion_times.groupby('variation')['completion_time'].mean()
# 
t_stat, p_value = st.ttest_ind(test_times, control_times)
print(f"t-statistic: {t_stat}, p-value: {p_value}")

if p_value < alpha:
    print("Reject null hypothesis")
else:
    print("Fail to reject null hypothesis")

t-statistic: -1.1753970752060308, p-value: 0.23983747664288113
Fail to reject null hypothesis

In [33]:
test_times

4             6.0
5             6.0
6             6.0
7             6.0
18            3.0
           ...
211914    26028.0
211915    26028.0
211916    26028.0
211917    26028.0
211918    26028.0
Name: completion_time, Length: 101269, dtype: float64

In [34]:
control_times

8             4.0
9             4.0
10            4.0
11            4.0
12            1.0
           ...
211866    27155.0
211867    27155.0
211868    27155.0
211869    27155.0
211870    27155.0
Name: completion_time, Length: 75455, dtype: float64

#### 2nd Hypothesis

In [148]:
# 2nd Hypothesis

# H0: number of ppl who reached the confirm step in test group == number of ppl who reached the confirm step in the control group
# H1: number of ppl who reached the confirm step in test group != number of ppl who reached the confirm step in the control group

# alpha = 0.05

In [87]:
# Z-Test for proportions
confirm_counts = step_counts['confirm']
total_test = step_counts.loc['Test'].sum()
total_control = step_counts.loc['Control'].sum()

print(f"Total Test Counts: {total_test}")
print(f"Total Control Counts: {total_control}")

# Number of confirms in each group
confirm_test = confirm_counts['Test']
confirm_control = confirm_counts['Control']

print(f"Confirm Test Counts: {confirm_test}")
print(f"Confirm Control Counts: {confirm_control}")

Total Test Counts: 97936
Total Control Counts: 81212
Confirm Test Counts: 18611
Confirm Control Counts: 15408

In [86]:
# Z-test for Proportions
prop_test = confirm_test / total_test
prop_control = confirm_control / total_control

# Standard error
se = np.sqrt((prop_test * (1 - prop_test) / total_test) + (prop_control * (1 - prop_control) / total_control))

# Z-score
z = (prop_test - prop_control) / se

# P-value from Z-score
p_value = st.norm.sf(abs(z)) * 2  # two-tailed test

# Display results
print(f"Z-score: {z}")
print(f"P-value: {p_value}")

# Hypothesis testing
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

Z-score: 0.16472530659478377
P-value: 0.8691601972938927
Fail to reject the null hypothesis

#### 3rd Hypothesis

In [150]:
# 3rd Hypothesis - can test if gender differences affect engaging with the new or old process

# H0: Gender distribution for test group == gender distribution for control group
# H1: Gender distribution for test group != gender distribution for control group

# alpha  = 0.05

In [100]:
gender_df = pd.merge(df_final_demo, df_final_experiment, on='client_id')
gender_df = gender_df[['client_id', 'gendr', 'variation']]
gender_df.rename(columns={'gendr': 'gender'}, inplace=True)
gender_df

contingency_table = pd.crosstab(gender_df['variation'], gender_df['gender'])
print(contingency_table)

chi2_stat, p_value, dof, ex = st.chi2_contingency(contingency_table)
print(f"Chi-square statistic: {chi2_stat}, p-value: {p_value}")

alpha = 0.05

if p_value < alpha:
    print("Reject the null hypothesis")
else:
    print("Fail to reject the null hypothesis")

gender        F     M     U  X
variation
Control    7543  7970  8019  0
Test       8716  8977  9273  2
Chi-square statistic: 3.6338490566239456, p-value: 0.30381274344369746
Fail to reject the null hypothesis

#### 4th Hypothesis

In [151]:
# 4th hypothesis - can see if the avg age of clients in both groups are the same

# H0: avg age of clients in test group == avg age of clients in control group
# H1: avg age of clients in test group != avg age of clients in control group

# alpha = 0.05

#### Saving datasets as csv

In [152]:
import os
# import subprocess

current_directory = os.getcwd()

directory_containing_csv = os.path.join(current_directory, "")

file_path = '../../concatenated_df'
file_path = os.path.join(directory_containing_csv, "concatenated_dataset.csv")

# Save the DataFrame to a CSV file
concatenated_df.to_csv(file_path, index=False)

# Confirm that the file has been saved
print(f"CSV file saved successfully at: {file_path}")

In [153]:
import os
# import subprocess

current_directory = os.getcwd()

directory_containing_csv = os.path.join(current_directory, "")

file_path = '../../merged_df'
file_path = os.path.join(directory_containing_csv, "merged_dataset.csv")

# Save the DataFrame to a CSV file
concatenated_df.to_csv(file_path, index=False)

# Confirm that the file has been saved
print(f"CSV file saved successfully at: {file_path}")

In [70]:
completion_times.to_csv("CompletionTimes.csv", index=False)

#### Code we didnt use

In [ ]:
# steps = step_counts.columns
# test_results = {}

# for step in steps:
#     test_group = step_counts.loc['Test', step]
#     control_group = step_counts.loc['Control', step]

#     # Conduct t-test
#     t_stat, p_value = st.ttest_ind([test_group], [control_group])

#     # Store results
#     test_results[step] = {
#         't_statistic': t_stat,
#         'p_value': p_value
#     }

# # Display t-test results
# for step, results in test_results.items():
#     print(f"Step: {step}, t-statistic: {results['t_statistic']}, p-value: {results['p_value']}")
#     if results['p_value'] < 0.05:
#         print(f"The difference in counts for step '{step}' between the test and control groups is statistically significant.")
#     else:
#         print(f"The difference in counts for step '{step}' between the test and control groups is not statistically significant.")

In [ ]:
# alpha = 0.05
# # Select only the 'confirm' step
# confirm_counts = step_counts.loc[['Test', 'Control'], 'confirm']

# print(confirm_counts)

# print(confirm_counts.dtypes)

# # print(confirm_counts.isna().sum())

# # print(confirm_counts[~confirm_counts.apply(pd.to_numeric, errors='coerce').notna()])

# test_confirm_counts = confirm_counts['Test']
# control_confirm_counts = confirm_counts['Control']

# print("Test group confirm counts:", test_confirm_counts)
# print("Control group confirm counts:", control_confirm_counts)

# print("Test group confirm counts shape:", test_confirm_counts.shape)
# print("Control group confirm counts shape:", control_confirm_counts.shape)

In [ ]:
# Perform t-test
# t_stat, p_value = st.ttest_ind(test_confirm_counts, control_confirm_counts)

# # Display t-test results
# print(f"t-statistic: {t_stat}, p-value: {p_value}")
# if p_value < alpha:
#     print("Reject the null hypothesis")
# else:
#     print("Fail to reject the null hypothesis")

In [ ]:
# # Create a contingency table for chi-square test
# contingency_table = pd.DataFrame({
#     'confirm': [test_confirm_counts, control_confirm_counts]
# }, index=['Test', 'Control'])

# print(contingency_table)

# # Perform chi-square test
# chi2_stat, p_value, dof, ex = st.chi2_contingency(contingency_table)

# # Display t-test results
# print(f"Chi-square statistic: {chi2_stat}, p-value: {p_value}")
# if p_value < alpha:
#     print("Reject the null hypothesis")
# else:
#     print("Fail to reject the null hypothesis")